.container{
    display: flex; /**/
    background-color: #8dcfcf;
    padding: 10px;
    flex-wrap: wrap; /*Quebra de linha (quando não houver mais espaço, joga para linha de baixo*/
}

.item{
    width: 80px;
    height: 50px;
    color: white;
    padding: 10px;
    background-color: #f2522a;
    margin: 5px;
}